* {box-sizing: border-box}

/* Add padding to containers */
.bg {
    /* The image used */
    background-image: url("complaint.jfif");
  
    /* Full height */
    top: 0;
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    padding: 10px;
  }

form {  
    
       width: 55%;  
       margin: auto;  
       background:rgb(223, 214, 214) ;
       padding: 10px 0px 10px 0px;  
       text-align: center;  
       -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1); 
       box-shadow: 2px 2px 3px rgba(0,0,0,0.1); 
    }

input[type=text] {
  width: 40%;
  left: 0;
  padding: 5px;
  margin: 5px 0 10px 10px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #0ec927;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}